<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tugas List 2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
</head>
<body style="text-align: right;">
    <ul style="float: right;" id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
            <hr>
        </li>
        
    </ul>
        <script>
        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    name: 'How to do list in Vue',
                    place: 'Jane Dhoe',
                    born: ' 2016-04-10',
                    addres:'Jl. Binus Raya no 99',
                },
            },
        });
    </script>    
</body>
</html>