<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <style>
        .box {
            background-image: url("https://thumbs.dreamstime.com/b/monkey-business-appearance-monkey-business-appearance-cartoon-character-design-vector-illustration-124032408.jpg");
            background-size: cover;
            width: 25rem;
            aspect-ratio: 1 / 1;
            border: 2px dotted black;
            inset: 0rem;
            margin: auto;
            border-radius: 15px;
            border-color: black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="texty" v-focus>
        <div class="box">
            <h2>Kirim Masukan Anda</h2>
            <p style="border: 1px solid black; height:20px; ">{{ texty }}</p>
        </div>
    </div>
    <script>
        var vo = new Vue({
            el: '#app',
            data: {
                texty: ''
            },
        });
    </script>

</body>

</html>