<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Latihan Vue 014</title>
    <link rel="stylesheet" href="bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <div class="row">

            <div class="col-md-6">
                <contoh-named-slots>
                    <template slot="nama"></template>
                    <p class="card-text" slot="whatsapp"></p>
                </contoh-named-slots>
            </div>
        
            <div class="col-md-6">
                <contoh-named-slots>
                    <template slot="nama">
                        <u><i>Varian Hermianto</i></u>
                    </template>
                    Juventini yang kada-kadang <u><i>Hala Madrid</i></u>.
                    <p class="card-text" slot="whatsapp">
                        <strong>Kontak WA :</strong> 08-222-666-777-8
                    </p>
                </contoh-named-slots>
            </div>
        
        </div>
    <script src="vue.js"></script>
    <script src="latihan014.js"></script>
    <script>
Vue.component('ContohNamedSlots', {
    template: `
        <div style="margin-top: 20px;">
            <div class="card">
                <div class="card-body">
                
                    <p class="card-text">Contoh Named Slots</p>

                    <hr/>

                    <h4 class="card-title">
                        <slot name="nama">Nama Default</slot>
                    </h4>

                    <p class="card-text">
                        <slot>Deskripsi Default</slot>
                    </p>

                    <hr/>

                    <slot name="whatsapp">WA Default</slot>

                </div>
            </div>
        </div>
    `
});
    </script>
</body>
</html>