<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>
<style>
    div{
        height: 100rem;
    }
</style>
<body>
    <div id="dynamicexample">
        <h3>Scroll down inside this section ↓</h3>
        <p n:[direction]="200"v-pi>I am pinned onto the page at 200px to the left.</p>
      </div>
      <script>
          Vue.directive('pin', {
  bind: function (el, binding, vnode) {
    el.style.position = 'fixed'
    var s = (binding.arg == 'left' ? 'left' : 'top')
    el.style[s] = binding.value + 'px'
  }
})

new Vue({
  el: '#dynamicexample',
  data: function () {
    return {
      direction: 'left'
    }
  }
})
      </script>
</body>
</html>